.root {
  position: relative;
  background-color: rgb(16, 16, 16);
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: var(--mantine-radius-xl);
  padding: 7px 9px;
  border: 0px;
}

.control {
  padding: 7px 9px;
  line-height: 1;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-2));
  border-radius: 100%;
  font-size: var(--mantine-font-size-xl);
  transition: color 100ms ease;
  align-items: center;
  vertical-align: baseline;
  justify-content: center;
  font-weight: 500;

  @mixin hover {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-dark-7)
    );
  }

  &[data-active] {
    color: var(--mantine-color-white);
  }
}

.controlLabel {
  vertical-align: center;
  position: relative;
  z-index: 1;
}

.indicator {
  background-color: var(--mantine-primary-color-filled);
  border-radius: 100%;
}
