.footer {
  background-color: #1d1d1d; /* Dark background color */
  background-image: url("../../../public/svgviewer-output\(1\).svg"); /* Path to your noise texture */
  background-repeat: repeat;
  background-size: contain;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);

  @media (max-width: var(--mantine-breakpoint-xs)) {
    flex-direction: column;
  }
}

.links {
  @media (max-width: var(--mantine-breakpoint-md)) {
    margin-top: var(--mantine-spacing-md);
  }
}
