.header {
  height: rem(54px);
  margin-bottom: rem(120px);
  background-color: #000000;
  border-color: #000000;
}

.inner {
  height: rem(54px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(20px) rem(12px);

  border-bottom: rem(3px) transparent solid;
  text-decoration: none;
  color: rgb(183, 183, 183);
  font-size: 0.9em;
  font-weight: 400;
  transition: border-color 200ms ease, color 200ms ease;

  @mixin hover {
    color: var(--mantine-color-white);
    border-bottom-color: var(--mantine-color-white);
  }
}

.menu {
  background-color: #000000;
  border: 0;
  color: white;
  margin-top: 20px;
}
