.header {
  height: rem(62px);
  margin-bottom: rem(120px);
  background-color: #000000;
  border-color: #000000;
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(24px) rem(12px);
  border-bottom: rem(3px) transparent solid;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  transition: border-color 100ms ease, color 100ms ease;

  @mixin hover {
    color: var(--mantine-color-white);
    border-bottom-color: var(--mantine-color-white);
  }
}

.menu {
  background-color: #000000;
  border: 0;
  color: white;
  margin-top: 20px;
}
