body {
  margin: 0;
  height: 100vh;
  background-color: #1d1d1d; /* Dark background color */
  background-image: url("../public/svgviewer-output\(1\).svg"); /* Path to your noise texture */
  background-repeat: repeat;
  background-size: contain;
}
